In [3]:
import pandas as pd

data = pd.DataFrame({
    "text":["people watch cricket","cricket watch cricket","people give comment","cricket give comment"],
    "output":[1,1,0,0]
})

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

bow = CountVectorizer()

data

                    text  output
0   people watch cricket       1
1  cricket watch cricket       1
2    people give comment       0
3   cricket give comment       0

In [5]:
doc_matrix = bow.fit_transform(data['text'])
doc_matrix

<4x5 sparse matrix of type '<class 'numpy.int64'>'
	with 11 stored elements in Compressed Sparse Row format>

In [6]:
bow.vocabulary_

{'people': 3, 'watch': 4, 'cricket': 1, 'give': 2, 'comment': 0}